@charset "utf-8";
@import "board.css";
@import "contents.css";
@import "member.css";

/* nanumgothic by google api - code by cha */
/* how to use:
	font-family: 'Nanum Gothic','Nanum Brush Script','Nanum Gothic Coding','Nanum Myeongjo','Nanum Pen Script';
 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);



/* base */
html,body	{ font-size:13px;font-family:"Nanum Gothic", "돋움", dotum;color:#414141;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,img { margin: 0; padding: 0; }
html{overflow-y:scroll;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th { font-size: 100%; font-weight: normal; font-style: normal; }
ul,ol,li { list-style: none; }
fieldset,img { border: none; }
legend, label.hidden{position: absolute;top: 0px;left: 0px;visibility:hidden; width:0;height:0;text-indent:-9999px;color:#767676}
caption,th { text-align: left; }
table { margin: 0; padding: 0;border-collapse: collapse; border-spacing: 0;  font-size:12px;font-family:"Nanum Gothic", "돋움", dotum;color:#414141;}
#accessibility, skip, .skip, legend, hr	{ position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden; }
caption	{ width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden; }
.blind { display:none; }
.over_hidden { overflow:hidden; }
pre	{ font-size:12px;font-family:"Nanum Gothic", "돋움", dotum;color:#414141; }
.hidden { display:none;}


/*Common*/
.clear { clear: both; }
.float_l	{ float:left; }
.float_r	{ float:right; }

.font_logocolor { color:#0d6fb8; }
.font_red { color:#dc0000; }
.font_gray { color:#d1d1d1; }
.font_violet { color:#b800bf; }
.font_brown { color:#bc0000; }
.font_orange { color:#ffaf3d; }
.font_green { color:#00abad; }
.font_small { font-size:11px;}

.bold { font-weight:bold; }
.b_bold { font-weight:bold; font-size:14px;}
.center{ text-align:center;}
.left{ text-align:left;}
.right{ text-align:right;}

.dis	{ display:inline; }
.dis_none	{ display:none; }
.bck	{ display:block; }
.line	{ border-bottom:1px solid #dedede; }
.ls_01 { letter-spacing:-1px; }

.mgt5 { margin-top:5px; }
.mgt10 { margin-top:10px; }
.mgt20 { margin-top:20px; }
.mgt25 { margin-top:25px; }
.mgt30 { margin-top:30px; }
.mgt40 { margin-top:40px; }
.mgt50 { margin-top:50px; }

.mgb10 { margin-bottom:10px }
.mgb20 { margin-bottom:20px }
.mgb25 { margin-bottom:25px }
.padleft10 { padding-left:10px }
.padt5 { padding-top:5px }
.padt15 { padding-top:15px }

.img { border:1px solid #d5d5d5;}

.org_txt {color:#f48d02;}

.test{border:1px solid red;}
.test2 {border:1px solid #fff;border-left:none;border-right:none;}

/* Default link */
a, a:link, a:visited, a:active { color:#666; text-decoration:none; }
a:hover { color:#d70056; text-decoration:none; }
/* a {outline:none;select-dummy:expression(this.hideFocus=true);} */
.clfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.clfix {display: inline-block;}
.clfix {display: block;}
* html .clfix {height: 1%;} /* Hides from IE-mac */
.clfix { zoom:1; } /*for IE 5.5-7*/



/* layout */
#wrapper	{ width:100%; height:100%; position: relative;text-align:center; z-index:100;  }
.main_bg{ background:url(/images/top_bg.gif) repeat-x center top;}

#header	{width:1050px;height:101px;margin:0 auto; text-align:center;z-index:100;}

#wrap	{ position:relative;width:1050px;top:0px;margin:0 auto;padding:0;text-align:center;}


/* header */
h1{float:left; width:400px; padding:25px 0 0px 5px; text-align:left;}


/* GNB */
#gnb {float:left;position:relative; width:640px;height:18px; margin:0 auto;px;z-index:300; border:0px solid red;}
#gnb:after {content:""; display:block; clear:both;} *+html #gnbmenuwrap {display:inline-block;} * html #gnbmenuwrap {display:inline-block;}


#gnb .topMenu{float:right;text-align:right; margin-right:40px; padding:5px 10px; z-index:200; background:#efefef;}
#gnb .topMenu span a{ padding:5px 10px;text-align:right;color:#616161;font-size:10px; font-weight:bold;}


ul#gnbmenu {float:left;width:640px;position:relative;padding:25px 0 0 0px;}
ul#gnbmenu li.menus {float:left; background:url(/images/menu_line.gif) no-repeat right top;}

ul#gnbmenu li.menus .menus-title {display:inline-block; padding:0 35px; height:40px; font-size:14px;
                                  font-family:"Nanum Gothic", "돋움", dotum;font-weight:bold;}
ul#gnbmenu li.menus .menus-title:link,
ul#gnbmenu li.menus .menus-title:visited {color:#FFFFFF;}
ul#gnbmenu li.menus .menus-title:hover,
ul#gnbmenu li.menus .menus-title:active, 
ul#gnbmenu li.menus .menus-title:focus {color:#FFFFFF;}

ul#gnbmenu li.menus .current.menus-title {color:#FFFFFF;}
ul#gnbmenu li.menus .current {color:#FFFFFF;}


ul#gnbmenu li.menus div.layer0 {display:none;height:26px;text-align:left;z-index:1000;}
ul#gnbmenu li.menus div.layer0.pos1 {position:absolute; top:63px; left:0px;width:160px;background:#56a000;}
ul#gnbmenu li.menus div.layer0.pos2 {position:absolute; top:63px; left:80px;width:220px;background:#56a000;}
ul#gnbmenu li.menus div.layer0.pos3 {position:absolute; top:63px; left:150px;width:300px;background:#56a000;}
ul#gnbmenu li.menus div.layer0.pos4 {position:absolute; top:63px; left:495px;width:120px;background:#56a000;}
ul#gnbmenu li.menus div.layer0.pos5 {position:absolute; top:63px; left:370px;width:110px;background:#56a000;}


.layer0 ul li {float:left;}
.layer0 ul li a {display:block;padding:6px 10px 6px 10px;font-size:12px;font-family:"Nanum Gothic", "돋움", dotum;}
.layer0 ul li a:link, 
.layer0 ul li a:visited {color:#FFFFFF;font-weight:bold;}
.layer0 ul li a:hover,
.layer0 ul li a:focus,
.layer0 ul li a:active {color:#d0ff99;font-weight:bold;}



/* main visual */
#main_visual	{ width:100%;height:361px;z-index:100; text-align:center;padding:0px;}


/* 플리킹리스트 */
#flickingList {position:relative;overflow:hidden; margin:0 auto; text-align:center;width:100%;  }
#flickingList .cont {position:relative; overflow:hidden; width:100%; cursor:move;}
#flickingList .layerWrap {overflow:hidden; position:relative; width:15000px; font-size:0; white-space:nowrap; vertical-align:top;}
#flickingList .layer {float:left; width:100%; font-size:12px; }
#flickingList .layer.bg1 {background:url(/images/main_img1_bg.jpg) repeat-x;}
#flickingList .layer.bg2 {background:url(/images/main_img2_bg.jpg) repeat-x;}
#flickingList .layer.bg3 {background:url(/images/main_img3_bg.jpg) repeat-x;}
#flickingList .layer.bg4 {background:url(/images/main_img4_bg.jpg) repeat-x;}
#flickingList .layer.bg5 {background:url(/images/main_img5_bg.jpg) repeat-x;}

#flickingList .prevNext {position:absolute;top:160px; left:50%;margin-left:-525px; width:1050px;height:47px;}
#flickingList button {overflow:visible; margin:0; padding:0; border:none; background:none; cursor:pointer;}
#flickingList button.prev {position:absolute; top:0px; left:0px; width:47px; height:47px; background:url(/images/arrow_left.png) 0 0 no-repeat; z-index:10;}
#flickingList button.next {position:absolute; top:0px; right:0px; width:47px; height:47px; background:url(/images/arrow_right.png) 0 0 no-repeat; z-index:10;}



/* main_container */
#main_wrap	{  width:100%;margin:0 auto;padding:0;text-align:center; background:url(/images/con_bg.gif) repeat-x top;}

#main_container	{  position:relative;width:1050px;height:150px;margin:0 auto;text-align:center;padding:30px 0 20px 0; }
*html #main_container	{   }



/*아카데미 소식 */
#main_container .board {float:left;position:relative;width:300px;height:110px;border:0px solid red;}
#main_container .board ul li {float:left; margin-top:5px;}
#main_container .board ul li div {position:absolute;top:20px;left:0px;height:100px;margin-top:20px;}
#main_container .board .list li {float:left;height:22px;padding-left:10px;font-size:11px;line-height:110%;
                                 background:url("/images/news_icon.gif") no-repeat;}
#main_container .board .list li span.title {float:left;width:210px;text-align:left;color:#333;padding-right:10px;cursor:pointer;}
#main_container .board .list li span.day {float:right;width:60px;text-align:right;color:#666;font-size:11px;
                                          font-family:Arial, "돋움", Sans-serif;}

/*동호회 소식*/
#main_container .photo	{ float:left;width:357px;padding-left:35px;}
#main_container .photo ul li {float:left; margin-top:5px;}
#main_container .photo ul li div {height:100px;margin-top:20px;}
#main_container .photo .p_img li {float:left;margin:0 10px;}


/*문의전화*/
#main_container .center  {float:left;width:304px;padding-left:35px; border:0px solid red;}


/* footer */
#footer	{clear:both; width:100%; height:135px; background:#f8f8f8; border-top:1px solid #dedede;}
#footer .foot { position:relative; width:1050px;margin:0 auto; text-align:center; }
#footer .foot .logo	{ position:absolute; top:45px; left:0px;width:200px;text-align:left;}
#footer .foot .footmenu  {position:absolute; top:20px; left:200px;  width:630px; z-index:30;text-align:left;color:#B2B2B2;font-size:11px;}
#footer .foot .footmenu a{color:#464646; font-weight:bold;}

#footer .foot .address	{ position:absolute; top:50px; left:200px; font-size:12px; }
#footer .foot .address address	{ margin-bottom:0px; text-align:left; line-height:20px; font-weight:bold;}
#footer .foot .address p	{ float:left;margin-bottom:0px; color:#828282; }



/****************************** sub_area ******************************/
.sub_bg{ background:url(/images/sub_bg.gif) repeat-x center top;}

#wrap_sub	{ float:left; width:1050px;border:0px solid red; background:url(/images/sub_img.jpg) no-repeat right top;}


/* leftcolumn */
#leftcolumn	{ float:left; width:200px; min-height:500px; margin-left:20px;border:0px solid red;padding:55px 0 0px 0; }
#snbwrap {width:200px; padding-bottom:20px; border:0px solid red;}
ul#snb {margin-top:12px;}
ul#snb li.menus {width:100%; vertical-align:top;text-align:left; margin:2px 0;}
ul#snb li.menus a.menus-title {display:block; height:33px; line-height:33px; padding:0 0px 0 10px; font-size:12px;
                               font-weight:bold;color:#fff !important; background:#c3c3c3; } 
ul#snb li.current a.menus-title {color:#fff !important; background:url(/images/left_on.gif) no-repeat left 0px;font-weight:bold;}



/* contents */
#contents_wrap{float:left;width:825px;padding:55px 0 0px 0; background:url(/images/title/title_line.gif) no-repeat left 93px;}

#title_area{float:left;width:785px;height:36px; margin-left:40px;}

#h3{float:left;width:475px;height:40px;text-align:left;}

#location{clear:both;color:#888888;font-size:11px;padding:15px 0 0px 0px;}
	#location li{float:left;margin-left:0px; }
	#location li a{color:#a6a6a6; text-decoration:none;}
	#location li.home{background:none;}
	#location li.now{ font-weight:bold;}



#contents{ float:left;width:740px; text-align:left;margin-left:40px; padding-top:70px;padding-bottom:40px; border:0px solid red;}



.box {Background-color:#FFFFFF; Border:1px SOLID #939393; height:17px; font-size:9pt; color : #616161;}
.s{font-size:11px;}

/*테이블스타일 1*/

.table_type1 table {border-collapse:collapse;font-size:12px;color:#777;}

.table_type1 {border-top:2px solid #4a9011;border-bottom:2px solid #4a9011;}
.table_type1 table {font-family:Arial, Myriad Pro, Verdana, sans-serif;margin-top:1px;width:100%;table-layout:fixed;}
.table_type1 table thead th {font-family:Arial, Myriad Pro, Verdana, sans-serif;text-align:center;border-top:1px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #fff;padding:10px 0 5px 0;
                             color:#fff;font-weight:bold;background:url(/images/tab_bg.gif) repeat-x;}

.table_type1 table tbody th {font-family:Arial, Myriad Pro, Verdana, sans-serif;text-align:center;padding:5px 0;border-bottom:1px solid #c7d8dc;border-right:1px solid #fff;background-color:#eefbe4;font-weight:bold;color:#499010}
.table_type1 table tbody td {font-family:Arial, Myriad Pro, Verdana, sans-serif;text-align:center;padding:5px 0;border-bottom:1px solid #d8d6d3;border-right:1px solid #d8d6d3;background-color:#fff;}

.table_type1 .none_r {text-align:center; border-right:none;}

/*시설소개*/
.com_pic {float:left;}
.com_pic ul {float:left;}
.com_pic ul li {float:left; padding:0 10px 20px 10px;}

/*사이트맵*/
.site li {background:url(/images/news_icon.gif) no-repeat left; padding:5px 0 5px 10px; border-bottom:1px dashed #c3c3c3;}