
.hide {display:none;}


/*인증현황*/
.cert{width:780px;}
.cert ul{}
.cert ul li{float:left;margin:6px 20px 6px 20px;padding:3px;border:1px solid #D7D7D7;}

.cert_name{width:780px;}
.cert_name ul{}
.cert_name ul li{float:left;width:133px;margin:6px 20px 6px 20px;padding:3px;border:0px solid #EEEEEE;text-align:center;}



/*오시는 길*/
.contact_title{clear:both;padding:0px 0px 15px 0px;font-size:14px;font-weight:bold;color:#cb003d;}
.contact{clear:both;width:760px;background:#F3F3F3;padding:10px;}
.contact ul {width:760px;  }
.contact ul li.text{float:left;  line-height:20px;padding:0px 0px 10px 0px;}
.contact ul li.map{float:right; text-align:right;}



/*sitemap*/
.sitemap_bg{width:780px;background:url(/images/contents/sitemap_bg.jpg) no-repeat left top;height:620px;}
.sitemap{width:780px;margin-top:10px;float:left;border:0px solid #33a3af;}
.sitemap ol{clear:both;}
.sitemap ol li{float:left;width:140px;margin-right:55px;padding-left:5px;}
.sitemap ol li p{width:130px;padding:5px;background:#d70056;color:#FFFFFF;font-size:14px;font-weight:bold;border:1px solid #73002E;}
.sitemap ol li.last{margin-right:0px;}

.sitemap ol li ol{width:130px;}
.sitemap ol li ol li{padding-left:5px;height:auto;border-bottom:1px dashed #DBDBDB;}
.sitemap ol li ol li a{display: block; line-height:30px;font-weight:normal;}





/*약관 */
.use_title{clear:both;background:#F3F7EA;padding:5px 0px 5px 10px;border:1px solid #B3C092;font-size:14px;font-weight:bold;color:#657821;}
.use_text{padding:10px 0 30px 10px;line-height:18px;}
.use_stitle{clear:both;padding:10px 0 0 0px;color:#FA713D;font-weight:bold;line-height:22px; }




/*근적외선*/
.ray_title{clear:both;padding:5px 0px 5px 0px;font-size:14px;font-weight:bold;color:#657821;}
.ray_stitle{clear:both;padding:10px 0 0 0px;color:#FA713D;font-weight:bold;line-height:22px; }
.ray_text{padding:8px 0 30px 15px;line-height:18px;}



/*스펙표*/
.spec_tb{clear:both;width:100%;border-top:1px solid #636467;}
.spec_tb table{width:100%;}
.spec_tb table caption{display:none;}
.spec_tb table thead th{padding:8px 10px 8px 20px; border-bottom:1px solid #E6E6E6; text-align:left; font-size:14px; line-height:18px; color:#6A6A6A; font-weight:bold;font-family:나눔고딕;background:#F5F5F5;}
.spec_tb table tbody td{padding:8px 10px 8px 20px; border-bottom:1px solid #E6E6E6; text-align:left; font-size:12px; line-height:18px; color:#666;}
.spec_tb table tbody td.con{  font-size:13px;color:#333;border-left:1px solid #E6E6E6;}






.guide{line-height:20px;background:#F9F2EE; padding:10px;border:2px solid #E3D5BF}
.guide p{line-height:30px;font-weight:bold;color:#FF3300;font-size:15px;border-bottom:2px dashed #E3D5BF}
.guide ul { clear:both;padding-top:10px; }
.guide ul li{font-size:13px;padding-top:5px;}





/*사용방법 안내*/
.guide1 {background:url(/images/contents/guide_txt_01.jpg) no-repeat left top;height:790px;}
.guide1 .txt1 {display:none;}
.guide2 {background:url(/images/contents/guide_txt_02.jpg) no-repeat left top;height:610px;}
.guide2 .txt1 {display:none;}
.guide3 {background:url(/images/contents/guide_txt_03.jpg) no-repeat left top;height:365px;}
.guide3 .txt1 {display:none;}








