
BODY { margin:0;font-size:9pt;font-family:±¼¸²;line-height:140%;scrollbar-face-color: #f7f7f7;scrollbar-highlight-color: #828282;    scrollbar-shadow-color: #828282;
			scrollbar-3dlight-color: #f7f7f7;scrollbar-arrow-color: #828282;scrollbar-track-color: #f7f7f7;scrollbar-darkshadow-color: #f7f7f7;scrollbar-darkshadow-color: #ffffff;}

table, tr, td {  font-family: "µ¸¿ò", "±¼¸²", "Arial" , "Helvetica" ; font-size:9pt; text-decoration:none ; line-height: 140%	} 
img {border: none;} 


.out_line {background-color:#CCCCCC;}
.menu_line {background-color:#FFFFFF;}
.body_line {background-color:#EEEEEE;}
.menu_color{background-color:#F1EBDC;}

.table_line{background-color:#AFAFAF;}
.table_menu{background-color:#E1E1E1; color:#333333;padding:7px;}
.table_body_menu {background-color:#F7F7F7; color:#000066; text-align:left;}
.table_body_text {background-color:#FFFFFF; text-align:left;}
.table_body {background-color:#FFFFFF;text-align:left;}

.page_head{background-color:#FFFFFF;}
.page_body{background-color:#EAEAEA;}
.page_bottom{background-color:#D8D8D8;}


.input_button {background-color:#E7E7E7;border:1 solid #333333; height:18; font-size:9pt;}
.box1 {Background-color:#FFFFFF; Border:1x SOLID #ACACAC; height:17px; font-size:9pt }
.tbox1 {Background-color:#FFFFFF; Border:1x SOLID #ACACAC; font-size:9pt }

.select {Background-color:#F2F2F2; Border:1x SOLID #F2F2F2; font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt;color: #3C3C3C}

.st_basic {font-size:9pt;  background-color : #837b74 ; color:#FFFFFF;	text-align:center;}
.st_white{font-size:9pt;  background-color : #FFFFFF ; color:black;	text-align:center;}


.st_ok{font-size:9pt;  background-color : #657EFF ; color:#FFFFFF;	text-align:center;}
.st_as{font-size:9pt;  background-color : #A1D435 ; color:#FFFFFF;	text-align:center;}


.st_blue{font-size:9pt;  background-color : #A5CDFF ;color:black;	text-align:center;}
.st_pink{font-size:9pt;  background-color : #F6D1E6 ;color:black;	text-align:center;}

.st_orange{font-size:9pt;  background-color : #FCE048 ; color:black;	text-align:center;}
.st_green{font-size:9pt;  background-color : #ADEE79 ; color:black;	text-align:center;}
.st_violet{font-size:9pt;  background-color : #BB81FC ; color:black;text-align:center;}
.st_navi{font-size:9pt;  background-color : #8080F7 ; color:#FFFFFF;	text-align:center;}
.st_bold{font-weight:bold}
.st_fs12{font-size:12pt}
.st_hand{cursor:hand;}
.st_hand_on{cursor:hand;background-color : #110744; color:#FFFFFF;}


