@CHARSET "UTF-8";

/* tag */
body,html {margin:0;padding:0;height: 100%;}
body { font-family:Arial,"굴림",gulim,"돋움",Dotum,Helvetica, sans-serif;line-height:150%;color:#333; font-size:14px}
label {vertical-align:middle;cursor:pointer}
input {vertical-align:middle}
a img {border:none}
a {color:#666;text-decoration:none;}
a:active {color:red}
a:hover {color:#333;text-decoration:underline;}
a:focus {outline:none}
a img {border:none}
table {margin:0;padding:0;width:100%;border-collapse:collapse;}
table th {text-align:center;font-weight:bold}
caption,legend {text-indent:-5000px; overflow:hidden;height:1px;font-size:0;line-height:0}
fieldset {width:100%;border:none}
form {position:relative;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:12px;font-weight:bold}

/* Common Class */
.apple_overlay {position:relative;display:none;width:400px;padding:35px;font-size:12px;}
.arial {font-family:Arial;}
.noneData {text-align:center}
.clear{clear:both}
.none{display:none;height:1px;line-height:1px;}
.number {font-family:Arial;letter-spacing:0}
.none{display:none;}
.wrapper {width:1030px;margin:0 auto}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* layout */
#mom {clear:both;float:left;width:100%;min-height:100%;margin:-332px 0 -40px;padding:0}
#main {float:left;width:100%;margin:0;padding:332px 0 50px}
header {float:left;width:100%;margin:0 auto;padding:0px 0;position:relative;z-index:1;}

.slboard_main {width:870px;margin:30px auto 0;color:#ffffff}
#sl_message_box {margin:30px 0 0;display:none}
/* header */ 
header #ff {float:left;background:url('/images/top_back.png') right center no-repeat;height:332px;width:1030px;}
header h1 a {float:left;margin:121px 0 0 34px;display:block;width:164px;height:71px;background:url('/images/logo.png') no-repeat;text-indent:-9999px;}
header nav { position: relative; z-index: 999; float: left; margin: 6em 0 0 3%; padding: 0px;}
header nav ul { float: left; margin:85px 0 0 60px; padding:0; }
header nav li { float: left; list-style: none; margin: 0 20px; }
header nav a { float:left;display:block;width:100px;color: #fff;text-indent:-9999px;text-decoration: none;background-image:url('/images/menu.png');background-repeat:no-repeat}
header nav a:hover {color:#99ccff}
header nav .menu1>a {height:10px;width:40px;background-position:0 0}
header nav .menu1 a:hover {height:10px;width:40px;background-position:-83px 0}
header nav .menu2>a {height:10px;width:50px;background-position:0 -10px}
header nav .menu2 a:hover {height:10px;width:50px;background-position:-83px -11px}
header nav .menu3>a {height:10px;width:60px;background-position:0 -20px}
header nav .menu3 a:hover {height:10px;width:60px;background-position:-83px -22px}
header nav .menu4>a {height:10px;width:60px;background-position:0 -30px}
header nav .menu4 a:hover {height:10px;width:60px;background-position:-83px -33px}
header nav .menu5>a {height:10px;width:70px;background-position:0 -40px}
header nav .menu5 a:hover {height:10px;width:70px;background-position:-83px -44px}
header nav .menu6>a {height:10px;width:83px;background-position:0 -50px}
header nav .menu6 a:hover {height:10px;width:83px;background-position:-83px -55px}
header nav .menu7>a {height:10px;width:60px;background-position:0 -60px}
header nav .menu7 a:hover {height:10px;width:60px;background-position:-83px -66px}
header nav li ul {display:none;position:absolute;top:25px;left:0px;padding:0px;border-radius:2px}
header nav li ul li {margin:0 5px;background:none}
header nav li ul li.li3 {border:none}
header nav li ul li a {float:left;text-indent:-9999px;display:block;width:70px;height:13px;margin:5px 0;color:#ccc;background-image:url('/images/sub_menu.png');background-repeat:no-repeat;font-weight:bold;font-size:12px;}
header nav li.menu2 ul li.sub_menu1 a {background-position:0 0;width:70px;height:13px;}
header nav li.menu2 ul li.sub_menu1 a:hover {background-position:0px 0;width:70px;height:13px;}
header nav li.menu2 ul li.sub_menu2 a {background-position:0 -12px;width:70px;height:13px;}
header nav li.menu2 ul li.sub_menu2 a:hover {background-position:0px -12px;width:70px;height:13px;}
header nav li.menu3 ul li a{float:left;text-indent:-9999px;display:block;width:90px;height:13px;margin:5px 0;color:#ccc;background-image:url('/images/sub_menu_2.png');background-repeat:no-repeat;font-weight:bold;font-size:12px;}
header nav li.menu3 ul li.sub_menu1 a {background-position:0px 0px;width:75px;height:13px;}
header nav li.menu3 ul li.sub_menu1 a:hover {background-position:0px 0px;width:75px;height:13px;}
header nav li.menu3 ul li.sub_menu2 a {background-position:0px -12px;width:80px;height:13px;}
header nav li.menu3 ul li.sub_menu2 a:hover {background-position:0px -12px;width:80px;height:13px;}
header nav li.menu3 ul li.sub_menu3 a {background-position:0px -25px;width:70px;height:13px;}
header nav li.menu3 ul li.sub_menu3 a:hover {background-position:0px -25px;width:70px;height:13px;}
header nav li.menu3 ul li.sub_menu4 a {background-position:0px -38px;width:80px;height:13px;}
header nav li.menu3 ul li.sub_menu4 a:hover {background-position:0px -38px;width:80px;height:13px;}
header nav li.menu3 ul li.sub_menu5 a {background-position:0px -52px;width:80px;height:13px;}
header nav li.menu3 ul li.sub_menu5 a:hover {background-position:0px -52px;width:80px;height:13px;}
header nav li.menu6 ul li.sub_menu1 a {background-position:0px -24px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu1 a:hover {background-position:0px -24px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu2 a {background-position:0px -36px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu2 a:hover {background-position:0px -36px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu3 a {background-position:0px -49px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu3 a:hover {background-position:0px -49px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu4 a {background-position:0px -62px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu4 a:hover {background-position:0px -62px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu5 a {background-position:0px -74px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu5 a:hover {background-position:0px -74px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu6 a {background-position:0px -88px;width:70px;height:13px;}
header nav li.menu6 ul li.sub_menu6 a:hover {background-position:0px -88px;width:70px;height:13px;}
header nav li ul li a:hover {color:#F668CB}
header nav .menu2 ul {left:20px;width:160px}
header nav .menu3 ul {left:60px;width:435px;}
header nav .menu6 ul {left:140px;width:480px}

.sub_main {margin:0px auto;padding-bottom:100px;width:870px;color:#ffffff;}
.section_top {float:left;width:100%;margin:30px 0 30px;padding:0 0 10px;border-bottom:1px solid #4b4243}
.section_top h2 {float:left;margin:0;padding:0 0 0 20px;width:200px;height:16px;background:url('/images/bullet.png') left center no-repeat}
.section_top h2 span {float:left;display:block;width:200px;height:18px;background-repeat:no-repeat}
.section_top p {float:right;margin:0;padding:0;color:#ffffff}
.section_top p span {margin:0 10px;padding:0}
.section_top p strong {margin-left:10px;padding:0}
.section_top p .home {padding:0 0 0 15px;background:url('/images/home_p.png') left center no-repeat;}
.section_top div.top_text{clear:both;color:#4b4243;margin:24px 0px 0px 20px;font-size:11px;}
.section_top div.top_text strong{font-weight:normal}


#section_intro .article1 {clear:both;width:870px;height:400px;text-indent:-9999px;padding:30px 0px 0px 0px;}
#section_intro .article1 .intro_img{float:left;width:435px;height:399px;background:url('/images/intro/intro_img.png') no-repeat}
#section_intro .article1 .intro_text{margin:0px 0px 0px 480px;width:377px;height:400px;background:url('/images/intro/text.png') no-repeat}
#section_map iframe {margin:30px 0px 0px 0px;}

#section_event .event_list {position:relative;float:left;width:100%;margin:0;padding:20px 0;}
#section_event .event_list .image {float:left;margin:0 20px 0 0}
#section_event .event_list .text {float:left;margin:0px 0px 0px 30px;width:530px}
#section_event .event_list .current {margin:0px 0px 0px 0px;display:block;width:41px;height:24px;text-indent:-9999px;background:url('/images/event/current.png') no-repeat}
#section_event .event_list a {text-decoration:none}
#section_event .event_list a:hover {text-decoration:underline}
#section_event .event_list p a {color:#999}
#section_event .event_list h4 {margin:5px 0 0 0px}
#section_event .event_list h4 a {color:#ffffff;font-size:15px;}

.hanbok_left_img{float:left;margin:0px 40px 0px 0px}
.hanbok_right_img{float:right;margin:0px 0px 0px 40px}
.hanbok_center_img{float:center;margin:50px 0px 0px 130px}
.hanbok_title_img{float:left;width:120px;height:15px;background:url('/images/hanbok/sub_title.png') no-repeat;margin:13px 0px 0px 50px;}
#section_hanbok {font-size:12px;}
#section_hanbok .article1 {clear:both;width:870px;height:460px;padding:30px 0px 30px 0px;border-bottom:1px #292021 solid;}
#section_hanbok .title {float:left;width:435px;height:399px;background:url('/images/intro/intro_img.png') no-repeat}
#section_hanbok .title_bg{text-indent:-9999px;float:left;width:510px;height:50px;background:url('/images/hanbok/title_bg.png') no-repeat}
#section_hanbok .article1 .girl_title{}
#section_hanbok .article1 .intro_text{float:left;width:510px;height:210px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok .article2{clear:both;padding:30px 0px 30px 0px;}
#section_hanbok .article2 .man_title{background-position:0px -15px;}
#section_hanbok .article2 .intro_text{float:left;width:510px;height:130px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok .article3{clear:both;padding:30px 0px 30px 0px;height:160px;}
#section_hanbok .article3 .put_img{float:left;}
#section_hanbok .article3 .put_img img{margin:0px 71px 0px 0px}
#section_hanbok .article3 .put_img img.last_img{margin:0px 0px 0px 0px}
#section_hanbok .article3 .put_comment_bg {text-indent:-9999px;float:left;height:27px;background:url('/images/hanbok/manage_content.png') no-repeat}
#section_hanbok .article3 .put_comment_1{background-position:0px 0px;width:115px;margin:11px 73px 0px 0px}
#section_hanbok .article3 .put_comment_2{background-position:0px -26px;width:115px;margin:11px 73px 0px 0px}
#section_hanbok .article3 .put_comment_3{background-position:0px -56px;width:115px;margin:11px 73px 0px 0px}
#section_hanbok .article3 .put_comment_4{background-position:0px -83px;width:115px;margin:11px 73px 0px 0px}
#section_hanbok .article3 .put_comment_5{background-position:0px -110px;width:115px;margin:11px 0px 0px 0px}

#section_hanbok_manage {font-size:12px;}
#section_hanbok_manage .article1 {clear:both;width:870px;height:795px;padding:30px 0px 30px 0px;border-bottom:1px #292021 solid;}
#section_hanbok_manage .title {float:left;width:435px;height:399px;background:url('/images/intro/intro_img.png') no-repeat}
#section_hanbok_manage .title_bg{text-indent:-9999px;float:left;width:510px;height:50px;background:url('/images/hanbok/title_bg.png') no-repeat}
#section_hanbok_manage .article1 .girl_title{}
#section_hanbok_manage .article1 h3{margin:40px 0px 10px 0px;}
#section_hanbok_manage .article1 h3 span{background-color:#9f1931;padding:3px 4px 3px 4px;}
#section_hanbok_manage .article1 .intro_text{float:left;width:510px;height:450px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok_manage .article2{clear:both;padding:30px 0px 30px 0px;}
#section_hanbok_manage .article2 .man_title{background-position:0px -15px;}
#section_hanbok_manage .article2 .content_img{margin:32px 0px 0px 0px}
#section_hanbok_manage .title_manage1{background-position:0px -31px;}
#section_hanbok_manage .title_manage2{background-position:0px -47px;}

#section_hanbok_courtesy {font-size:12px;}
#section_hanbok_courtesy .article1 {clear:both;width:870px;height:838px;padding:30px 0px 30px 0px;border-bottom:1px #292021 solid;}
#section_hanbok_courtesy .title {float:left;width:435px;height:399px;background:url('/images/intro/intro_img.png') no-repeat}
#section_hanbok_courtesy .title_bg{text-indent:-9999px;float:left;width:480px;height:50px;background:url('/images/hanbok/title_bg.png') no-repeat}
#section_hanbok_courtesy .title_courtesy1{background-position:0px -63px;}
#section_hanbok_courtesy .title_courtesy2{background-position:0px -79px;}
#section_hanbok_courtesy .article1 h3{margin:40px 0px 10px 0px;}
#section_hanbok_courtesy .article1 h3 span{background-color:#9f1931;padding:3px 4px 3px 4px;}
#section_hanbok_courtesy .article1 .intro_text{float:left;width:480px;height:480px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok_courtesy .article2{clear:both;padding:30px 0px 30px 0px;}
#section_hanbok_courtesy .article2 .content_img{margin:32px 0px 0px 0px}

#section_hanbok_jewelry {font-size:12px;}
#section_hanbok_jewelry .title {float:left;width:435px;height:399px;background:url('/images/intro/intro_img.png') no-repeat}
#section_hanbok_jewelry .title_bg{text-indent:-9999px;float:left;width:480px;height:50px;background:url('/images/hanbok/title_bg.png') no-repeat}
#section_hanbok_jewelry .title_jewelry1{background-position:0px -95px;}
#section_hanbok_jewelry .title_jewelry2{background-position:0px -111px;}
#section_hanbok_jewelry .title_jewelry3{background-position:0px -127px;}
#section_hanbok_jewelry .title_jewelry4{background-position:0px -143px;}
#section_hanbok_jewelry .title_jewelry5{background-position:0px -159px;}
#section_hanbok_jewelry .article1 {clear:both;width:870px;height:195px;padding:30px 0px 30px 0px;border-bottom:1px #292021 solid;}
#section_hanbok_jewelry .article1 .intro_text{float:left;width:480px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok_jewelry .article2{clear:both;padding:30px 0px 30px 0px;height:195px;border-bottom:1px #292021 solid;}
#section_hanbok_jewelry .article2 .intro_text{width:480px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok_jewelry .article3{clear:both;padding:30px 0px 30px 0px;height:195px;border-bottom:1px #292021 solid;}
#section_hanbok_jewelry .article3 .intro_text{float:left;width:490px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok_jewelry .article4{clear:both;padding:30px 0px 30px 0px;height:195px;border-bottom:1px #292021 solid;}
#section_hanbok_jewelry .article4 .intro_text{float:left;width:490px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}
#section_hanbok_jewelry .article5{clear:both;padding:30px 0px 30px 0px;height:195px;}
#section_hanbok_jewelry .article5 .intro_text{float:left;width:480px;text-indent:0px;margin:20px 0px 0px 0px;line-height:150%;}

#section_hanbok_size {font-size:12px;}
#section_hanbok_size .title {float:left;width:435px;height:399px;background:url('/images/intro/intro_img.png') no-repeat}
#section_hanbok_size .title_bg{text-indent:-9999px;float:left;width:510px;height:50px;background:url('/images/hanbok/title_bg.png') no-repeat}
#section_hanbok_size .title_bg2{text-indent:-9999px;float:left;width:870px;height:50px;background:url('/images/hanbok/title_bg.png') no-repeat;margin:20px 0px 30px 0px;}
#section_hanbok_size .title_size1{background-position:0px -175px;}
#section_hanbok_size .title_size2{background-position:0px -191px;}
#section_hanbok_size .title_size3{background-position:0px -208px;}

#section_hanbok_size article{clear:both;padding:30px 0px 30px 0px;line-height:150%;}
#section_hanbok_size .article1{height:195px;border-bottom:1px #292021 solid;}
#section_hanbok_size .article2{height:1175px;border-bottom:1px #292021 solid;}
#section_hanbok_size .article3{overflow: auto;}
#section_hanbok_size article h3{margin:40px 0px 10px 0px;width:480px;}
#section_hanbok_size article h3 span{background-color:#9f1931;padding:3px 4px 3px 4px;}
#section_hanbok_size .contetn_img{margin:3px 0px 0px 50px;}
#section_hanbok_size .article2 .intro_text_1{height:99px;}
#section_hanbok_size .article2 .intro_text_2{height:214px;}
#section_hanbok_size .article2 .intro_text_3{height:262px;}
#section_hanbok_size .article2 .intro_text_4{height:262px;}
#section_hanbok_size .article3 .intro_text_1{height:99px;}
#section_hanbok_size .article3 .intro_text_2{height:99px;}
#section_hanbok_size .article3 .intro_text_3{height:214px;}
#section_hanbok_size .article3 .intro_text_4{height:262px;}

#section_main {position:relative}
#section_main .scrollable { float:left;width:940px; margin:10px 0 0 -40px;padding:0 0 30px;height:381px;background:url('/images/slide/shadow.png') center bottom no-repeat;overflow: hidden; position: relative; padding-left:9px}
#section_main .items {position: absolute;margin:0;padding:0;width: 5000em;height: 381px; left: 0; top: 0; list-style: none;}
#section_main .item {float:left}
#section_main .buttons {float:left;cursor:pointer;display: block;background-repeat:no-repeat;width:38px;height:26px;z-index: 500;}
#section_main .buttons span {display:none}
#section_main .prev {margin-right:5px;background-image: url('/images/slide/back.jpg')}
#section_main .next {background-image: url('/images/slide/forward.jpg')}
#section_main .scroll_tool .navi {float:left}
#section_main .scroll_tool .navi a{ float:left;display:block;height:26px;width:26px;margin-right:5px;background-color:#5a504f;cursor:pointer}
#section_main .scroll_tool .navi a.active {background-color:#281d21}
#section_main .scroll_tool {position:absolute;top:350px;z-index:9999;right:10px}

.slboard_main {float:right;width:560px;margin:0 0 50px;background-repeat:no-repeat}
.slboard_after_main {float:right;width:870px;margin:0 0 50px;background-repeat:no-repeat}
.slboard_event_main {float:right;width:870px;margin:0 0 50px;background-repeat:no-repeat}
#board_img {display:block;float:left}

.title_name_bg {background-image:url('/images/title.png');text-indent:-9999px;}
.title_name_intro {background-position: 0px -53px;}
.title_name_map {background-position: 0px -17px;}
.title_name_event {background-position: 0px -35px;}
.title_name_notice {background-position: 0px -71px;}
.title_name_after {background-position: 0px -162px;}
.title_name_question {background-position: 0px -89px;}
.title_name_inquiry {background-position: 0px -108px;}
.title_name_marriage_letter {background-position: 0px -144px;}
.title_name_catalogue {background-position: 0px -126px;}
.title_name_hanbok_gallery {background-position: 0px -180px;}
.title_name_customer_gallery {background-position: 0px 0px;}

.hanbok_title_bg {background-image:url('/images/hanbok/title.png');text-indent:-9999px;}
.hanbok_title_put {background-position: 0px 0px;}
.hanbok_title_manage {background-position: 0px -17px;}
.hanbok_title_courtesy {background-position: 0px -35px;}
.hanbok_title_jewelry {background-position: 0px -53px;}
.hanbok_title_size {background-position: 0px -71px;}

.after_list {float:left;margin:0 30px 30px 0}
.after_list h3 {clear:both;margin:0px 0 0 65px;color:#ffffff;}
.after_list h3 a {color:#ffffff;}
.after_list p {padding:0px 0px 0px 65px;width:195px;height:40px;}

.after_list .read_more {margin:0px 0px 0px 165px;text-indent:-9999px;text-align:right;background:url('/images/community/read_more.png') no-repeat;width:83px;height:21px;}
.nm {margin-right:0}
.after_list .image {float:left;margin:0 0 10px 0;background:url('/images/bg_image.png');padding:10px}
.after_list .image img {float:left;display:block;}
.after_list .bubble {float:left;margin:0 20px 0 0;width:46px;height:70px;line-height:18px;color:#fff;text-align:center;background:url('/images/bubble.png') no-repeat}

.sub_main .map_text{text-align:center;margin:80px 0px 0px 0px}

/* footer */
footer {float:left;width:100%;clear:both;margin:0 auto;background:#000;color:#4e4a4b;height:40px;margin:0px;padding:0;text-align: center;}
footer address {margin:0px auto;width:870px;padding:17px 0px 0px 48px;}
footer address span {color:#534646;font-style:normal;font-family: 돋움}
